.flex.flex-column.justify-end.h5.measure-narrow.center
  .w-100.bg-blue.center.pa1.br2.ma2#admin-easy-login
    %p.tc Login as admin
  .w-100.bg-blue.center.pa1.br2.ma2#member-easy-login
    %p.tc Login as member
